.d-flex{
    padding-right: 800px;
}


#btn-cancle{
    margin-left: 10px;
}


#gifImage{
    max-width: 286px;
    max-height: 180px;
}

.card{
    margin-top: 50px;
    max-width: 286px;
    max-height: 250px;
}

.card-deck{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 50px;
}

h2{
    margin-top: 20px;
}

.dropdown{
    margin-left: 10px;
}